[Unit]
Description=IoT Dashboard Service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/iot-dashboard
Environment="PATH=/home/pi/iot-dashboard/venv/bin"
ExecStart=/home/pi/iot-dashboard/venv/bin/gunicorn --worker-class eventlet -w 1 app:app
Restart=always

[Install]
WantedBy=multi-user.target 